{% extends 'back.layout.html.twig' %}

{% block content %}

    <h1>Modifier le jeu "{{ entity.title }}"</h1>

{{ form_start(form) }}
{{ form_errors(form) }}
    <div class="card">
        <div class="card-body">
            {# {{ form_widget(form) }} #}

            <div class="row">
                <div class="col-md-8">
                    {{ form_row(form.title) }}
                    {{ form_row(form.releaseDate) }}
                    {{ form_row(form.description) }}
                </div>

                <div class="col-md-4">
                    {{ form_row(form.bool) }}
                    {{ form_row(form.editor) }}
                </div>
            </div>

            <div class="d-flex justify-content-between">
                {% if entity.mainImage is not empty %}
                    <img src="{{ asset(entity.mainImage.webPath) }}" alt="">
                {% endif %}

                <div class="flex-grow-1">
                    {{ form_row(form.mainImage.file) }}
                    {{ form_row(form.deleteMainImage) }}
                </div>
            </div>


        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}
